---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Profile</div>
	</div>

	<div class="mb-10 text-justify">
		Passionate and accomplished ReactJS Frontend Developer with 6 years of
		experience, well-versed in an array of frontend technologies. Skilled in
		utilizing ReactJS to deliver high-quality, performant web applications.
		Proficient in Node.js, Express, and a wide range of JavaScript libraries,
		enabling seamless backend integration. Demonstrated expertise in project
		management, ensuring timely delivery and exceeding client expectations.
		Committed to cultivating strong customer relationships and providing
		exceptional support. Dedicated to creating user-friendly, lightning-fast,
		and impactful websites and applications. Let's collaborate to build
		extraordinary digital experiences that leave a lasting impression.
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Education</div>
	</div>

	<div class="time-line-container grid gap-4 mb-10">
		<TimeLineElement
			title="Master of Technology in Computer Science & Engineering"
			subtitle="2015 to 2017 at Parul University, Vadodara, India"
		/>
		<TimeLineElement
			title="Bachelor of Engineering in Computer Science & Engineering"
			subtitle="2011 to 2015 at Parul University, Vadodara, India"
		/>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Experience</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Technical Team Lead at Maxxton"
			subtitle="April 2021 - Present at Maxxton, Pune, India"
		>
			- Managed project timelines and budgets to ensure timely delivery of
			high-quality software.<br />
			- Mentored junior developers and conducted code reviews to maintain code quality.
			<br />
			- Worked closely with product owners to gather requirements and deliver features
			on time.
		</TimeLineElement>
		<TimeLineElement
			title="Software Enginner at Maxxton"
			subtitle="July 2020 - April 2021 at Maxxton, Pune, India"
		>
			- Prepared Technical Design enhancement which improved other developers'
			productivity and accuracy.<br />
			- Trained new team, enabling developers to begin writing production quality
			code in less time.<br />
			- Assigned as the team's code reviewer due to expertise on the subject matter.<br
			/>
			- Demonstrated strong ability to solve ambiguous, complex problems and drive
			innovative technical solutions by looking beyond the obvious.
		</TimeLineElement>
		<TimeLineElement
			title="Frontend Developer at CryptoForecast S.R.L. (Remote)"
			subtitle="October 2018 - May 2020  at CryptoForecast S.R.L., Galliate, Piedmont, Italy"
		>
			- Worked with UI design team, bringing features from concept to
			deliverable stage.<br />
			- Provided leadership for development of numerous components and features,
			acting as single-point-of-contact for new features and problem resolutions.<br
			/>
			- Developed the code and deployed it at regular intervals.<br />
			- Responsible for quality assurance of finished websites, including validating
			web forms and links.<br />
			- Fixed problems with existing projects
		</TimeLineElement>
		<TimeLineElement
			title="Software Engineer at Atyantik Technologies Pvt. Ltd."
			subtitle="April 2017 - November 2018  at Atyantik Technologies Pvt. Ltd., Vadodara, India"
		>
			- Reviewed project specifications and designed technology solutions that
			met or exceeded performance expectations.<br />
			- Delivered highly sustainable user interface (UI) framework for complex enterprise
			product (front-end technologies: JavaScript, React, SASS, HTML5).<br />
			- Planned website development, converting mock-ups into usable web presence
			with React.<br />
			- Contributed to Unit Testing by using Jest and Enzyme.<br />
			- Created UIs using both Class and Functional based components.<br />
			- Provided leadership for development of numerous components and features and
			problem resolutions.<br />
			- Automated the vendor and user on-boarding process using React.js to design
			an intuitive UI for new customers to join the event platform.<br />
			- Recognized as a core contributor in architectural design and building of
			enterprise-level development framework using ReactJs, Express and Node.js<br
			/>
			- Assisted in the new project business plan by analysing user requirements,
			making technical suggestions and estimating development costs
		</TimeLineElement>
		<TimeLineElement
			title="Trainee at Milople"
			subtitle="December 2014 - May 2015  at Milople, Bhavnagar, India"
		>
			- Planned website development, converting mock-ups into usable web
			presence.<br />
			- Coded websites using HTML, CSS, JavaScript and React on Frontend.<br />
			- Support the team.
		</TimeLineElement>
	</div>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Technical Skills</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
		<li>ReactJS</li>
		<li>Material-UI</li>
		<li>Git</li>
		<li>JavaScript</li>
		<li>NodeJS</li>
	</ul>

	<div class="mb-5">
		<div class="text-3xl w-full font-bold">Soft Skills</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6">
		<li>Communication</li>
		<li>Problem Solving</li>
		<li>Service-focused</li>
		<li>Time management</li>
		<li>Leadership</li>
	</ul>
</BaseLayout>
